/****************   GLOBAL LAYOUT  *************/
* { 
  box-sizing: border-box;
}

body {
	background-color: silver;
	text-align: center;
	margin: 0;	
}
/************ TEXT STYLES	************/
h1, h2, h3, p, li,  .signiture {
	font-family: 'Orbitron', sans-serif;
}
.quote {
	color: goldenrod;
	text-shadow: 2px 2px 2px #000;
}


/************   LINK STYLES   **************/
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: gray;
}
/************ 	NAVIGATION AND HEADER ************/
.student-name {
	font-size: 28px;
	color: goldenrod;
	text-shadow: 2px 2px 2px #000;
}

.main-nav {
	padding:0;
	margin: 0;
}

.main-nav li {
	font-weight: 700;
	font-size: 18px;
	padding: .75em;
	margin-top: .5em;
	list-style-type: none;
	background-color: white;


}
.main-header {
	margin: 4em 1em;
}

.profile-image {
 	width: 60%;
 	max-width: 300px;
 	text-align: center;
 	margin: 0;
 	border-radius: 2em;
 	box-shadow: 10px 10px 10px #000;
}

/************   MAIN CONTENT  **********/

.wrapper {
	background: white;
	max-width: 100%;
	padding: 3em .5em 2em .5em;
	box-shadow: 10px 10px 10px #000;
}

.container {
padding: 0 1.25em;
margin: 0;
}

img {
	max-width: 100%;
	border-radius: 2em;
	box-shadow: 10px 10px 10px #000;
}



/************   FOOTER  **********/

footer {
	border-top: solid 1px gray;
}
 .signiture {
 	display: inline-block;
 	float: left;
 	padding-left: 1em;
 }

 .top {
 	display: inline-block;
 	float: right;
 	padding-right: 1em;
 	
 }

 .no-mobile {
 	display: none;
 }


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    THE START OF  MEDIA QUIRIES 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/



/********************************** 
             TABLET SIZE  
************************************/

@media screen and (min-width: 768px) {


/************ 	TABLET: NAVIGATION AND HEADER ************/
.main-nav {
	text-align: center;
	margin: 2em;
}	

.main-nav li {
	display: inline;
	background: none;
	margin: 0 1.5em;
}

.main-header {
	

}
.profile-image {
 	width: 30%;
 	max-width: 250px;
 	margin-right: 2em;
 	float: right;
 	
}

.intro {
 max-width: 50%;
	
}

.intro p {
	width: 100%;
	float: left;
	display: inline-block;
	font-size: 20px;
	text-align: left;
}

/************  TABLET: MAIN CONTENT  **********/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.wrapper {
	max-width: 963px;
}

.container{
	width: 50%;
	display: inline-block;
	vertical-align: bottom;
}

.pic1, .pic3, .pic5 {
	float: left;
	padding: 1em .3em 0 1em;
}
.pic2, .pic4, .pic6 {
	float: right;
	padding: 1em 1em 0 .3em;
}




/************ TABLET: CONTACT ME AREA  **********/

.contact {
	margin: 4em 0;

}
.contact p {
	font-size: 22px;
	padding: 0 4em;

}


/************  TABLET: FOOTER  **********/

.top {
	display: none;
}
.no-mobile {
	display: inline-block;
	float: right;
}

.no-mobile li {
	display: inline;
	list-style-type: none;
	margin: 1em;
	font-size: 18px;
	font-weight: 700;
}

footer {
	margin-bottom: 1em;
}
}

	/*************************************
	              DESKTOP SIZE 
	 *************************************/

	 	@media screen and (min-width: 1024px) {


	/************ DESKTOP: NAVIGATION AND HEADER ************/

		.main-nav {
			display: inline;
			float: right;
			margin: 2em 2em 0 0;
		}
		.student-name {
			display: inline;
			float: left;
			margin-left: 3em;
		}

		.profile-image {
			margin-right: 3em;
		}

	    .intro {
			margin-left: 3em;
		}
/************ DESKTOP: MAIN CONTENT  **********/

		.wrapper {
			margin: 0 2em;
			max-width: 100%;


		}
		.container {
		max-width: 30%;
		float: none;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		margin: .5em;
		padding: 0;

		}

/************ DESKTOP: MAIN FOOTER  **********/
		

}



















