/****************   GLOBAL LAYOUT  *************/
* { 
  box-sizing: border-box;
}

body {
	background-color: #f4f4f4;
	text-align: center;
	margin: 0;	
}
/************ TEXT STYLES	************/
h1, h2, h3, p, li,  .signiture {
	font-family: 'Orbitron', sans-serif;
}


/************   LINK STYLES   **************/
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: gray;
}
/************ 	NAVIGATION AND HEADER ************/
.student-name {
	font-size: 28px;
}

.main-nav {
	padding:0;
	margin: 0;
	
}

.main-nav li {
	font-weight: 700;
	font-size: 18px;
	padding: .75em;
	margin-top: .5em;
	list-style-type: none;
	background-color: white;
	

}
.main-header {
	padding: 2em 1em;
}

.profile-image {
 	width: 80%;
 	max-width: 350px;
 	text-align: center;
}

/************   MAIN CONTEN  **********/

.wrap {
	background: white;
	max-width: 100%;
	padding: 4em .5em;
	
}

.container {
padding: 0 1.25em;
margin: 0;
}

img {
	max-width: 100%;
}



/************   FOOTER  **********/

footer {
	border-top: solid 1px gray;
}
 .signiture {
 display: inline-block;
 float: left;
 padding-left: 1em;
 }

 .top {
 	display: inline-block;
 	float: right;
 	padding-right: 1em;
 	
 }

 .no-mobile {
 	display: none;
 }


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
     START OF  MEDAI QUIRIES 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!      
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/



/********************************** 
             TABLET SIZE  
************************************/

@media screen and (min-width: 768px) {


/************ 	NAVIGATION AND HEADER ************/
.main-nav {
	text-align: center;
}	

.main-nav li {
	display: inline;
	background: none;
	margin: 0 1.5em;
}

.main-header {
	height: 25em;

}
.profile-image {
 	width: 40%;
 	margin: 1em;
 	float: right;
 	
}

.intro {
 max-width: 50%;
	
}

.intro p {
	width: 100%;
	float: left;
	display: inline-block;
	font-size: 20px;
	text-align: left;
}

/************  TABLET MAIN CONTENT  **********/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6 {
	max-width: 50%;
	display: inline;
}

.pic1, .pic3, .pic5 {
	float: left;
	padding: 1em .3em 0 1em;
}
.pic2, .pic4, .pic6 {
	float: right;
	padding: 1em 1em 0 .3em;
}



/************ TABLET CONTACT ME AREA  **********/

.contact {
	margin: 4em 0;

}
.contact p {
	font-size: 22px;
	padding: 0 4em;

}


/************  TABLET FOOTER  **********/

.top {
	display: none;
}
.no-mobile {
	display: inline-block;
	float: right;
}

.no-mobile li {
	display: inline;
	list-style-type: none;
	margin: 1em;
	font-size: 18px;
	font-weight: 700;
}

footer {
	margin-bottom: 4em;
}
}

	/*************************************
	              DESKTOP SIZE 
	 *************************************/

	 	@media screen and (min-width: 1024px) {


	/************ DESKTOP	NAVIGATION AND HEADER ************/

		.main-nav {
			display: inline;
			float: right;
		}
		.student-name {
			text-align: left;
			padding-left: 2em;
		}
	
		.profile-image {
			max-width: 400px;
		}
/************ DESKTOP MAIN CONTENT  **********/

		.wrap {
			margin: 0 2em;


		}
		.pic1, .pic2, .pic3, .pic4, .pic5, .pic6 {
		max-width: 30%;
		float: none;
		display: inline-block;
		position: relative;
		vertical-align: middle;
		margin: .5em;
		padding: 0;

		}

/************ DESKTOP MAIN FOOTER  **********/
		.no-mobile {
			display: none;
		}
		.signiture {
			display: none;
		}
	

}



















