
 //////Color variables//////

 $white             : #fff;
 $black             : #000;
 $grey              : #878787;
 $silver			: #c0c0c0;
 $gold				: #daa520;

 //////Functional color variables///////

 $primery-color      : $black;
 $second-color       : $gold;
 $hover-color        : $grey ;
 $body-color         : $silver;
 $background-color   : $white; 

////////Media Query /////////

$brk-tablet        : 768px;
$brk-desktop       : 1024px;
