.menu {
	margin-left: 5%;
	cursor: pointer;
}


.line {

   & {
    border-bottom: 4px solid;
    color: $gold;
    width: 35px;
    margin-bottom: 6px;
    @extend %boxShadow;

    @include tabletSize {
    	display: none;
    } 
  }
}


h3 {
color: $gold;
@extend %textShadow;

}